/*CONFIGURACION GENERAL DE LA PAGINA*/
body {
  overflow-x: hidden;
  }
h1, h2, h3, h4, h5, h6{
    font-family: 'League Spartan', sans-serif;
    color: #fffffe;
}

#text-head{
  margin: 2rem 0 2rem 0;
}

a{
    font-family: 'League Spartan', sans-serif;
    color: #fffffe;
}
p{
    font-family: 'League Spartan', sans-serif;
    color: #94a1b2;
    margin-bottom: 2rem;
}

span{
  color: #2cb67d;
  font-size: 1.3rem;
  font-family: 'League Spartan', sans-serif;
}
ul{
  color:#fffffe;
  font-family: 'League Spartan', sans-serif;
}

/* Listas */

text-ul{
  margin-left: 100rem;
}

/* Multimedia */



#responsive_video{
  margin: 3rem auto 5rem auto;
  max-width: 800px;
}

#diagrama{
  max-width: 450px;
}

#diagrama-case{
  width: 50%;
  margin-bottom: 2rem;
}

/*PAGINA PRINCIPAL*/

/*NAVBAR*/

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(22, 21, 6, 1);
  --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgb(255, 255, 255);
  --bs-navbar-toggler-border-radius: 0.375rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}









.start{
  visibility: hidden;
}



#nav-bar .container-fluid{
    padding: 0.5% 3%;
}




.navbar{
    background-color: #16161a;
}
.navbar li a{
    color:  #fffffe !important;
    }
.navbar-brand{
    font-family: 'The Nautigal', cursive;
    font-size: 2.2rem;
    margin: 10px auto 0 20px;
    color:#fffffe;
}

.navbar-brand:hover{
  color: #fffffe;
}
.nav-item{
    font-size: 1.1rem; 
    color:#fffffe;
}
.nav-link{
    margin: 0px 10px;
}


/*Tittle Secetion*/

#Tittle{
    background-color: #16161a;
}
#Tittle .container-fluid{
    padding: 2% 15% 5% 15%;
    margin-left: 3px;
    /*padding: 8% 3% 8%;*/
}


.Tittle-tittle{
  text-align: center;
}
.Tittle-p{
  text-align: justify;
  font-size: 1.24rem;
    color: #94a1b2;
}

.tittle-photo{
  padding-left: 5rem;
}

.profile-photo{
  width: 70%;
  position: relative;
  border-radius: 100%;
  z-index: 0;
}

#tittle_span{
  font-size: 22pt;
}

/*Animaciones Profile Photo*/

.profile-photo {
	-webkit-animation: fade-in-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



@keyframes profile-photo {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

/*Texto principal*/

.text-area {
	-webkit-animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  




/*Boton Tittle*/


#bot_text{
  font-family: 'Press Start 2P', cursive;
  width: 70%;
}

.btn-primary{

    margin-bottom: 1rem;

    background-color: #7f5af0;

    border: #7f5af0;

}

.btn-primary:hover{
    background-color: #4f2eb3;
}





/*Seccion del proceso*/

#Section-JS{
    text-align: center;
    padding: 5%;
    position: relative;
    z-index: 1;
    background-color: #242629;
}

.cards{
  margin: 1.8rem 0 0 0;
}

.card{
  background-color: #16161a;
}
.list-group-item{
  background-color: #16161a;
  color: #94a1b2 !important;
}



/*Contact*/

#contact .container-fluid{
  background-color: #16161a;
  padding: 5% 15% 5%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

.icon-color{
  color: white;
}

.p_contact{
  font-size: 1.3rem;
}


img{
  border-radius: 5%;
}



/*PLANTILLA DE NOTAS*/

.concept .container-fluid{
  background-color: #16161a;
  padding: 2% 3rem 5% 3rem;
}

.concept-text{
  font-size: 1.32rem;
  line-height: 2.0;
  color: #94a1b2;
}

.consola{
  position: relative;
  width: 75%;
}


/**/

.color_1 .container-fluid{
  background-color: #242629;
  padding: 2% 3rem 1% 3rem;
}


/* Parte de imagenes*/
.code{
  position: relative;
  width: 55%;
  margin-bottom: 2rem;

}
.big-code{
  position: relative;
  width: 53%;
  margin: auto auto 3rem auto;
  /*margin-left: 8%;*/
}


#console{
  border-radius: 0%;
}


/* Texto explicativo*/

.code-p{
  text-align: justify;
  font-size: 1.35rem;
}


/**/

.color_2 .container-fluid{
  background-color: #16161a;
  padding: 2% 3rem 1% 3rem;
}

/**/

#button_lesson{
    background-color: #242629;
    padding: 5% 3rem 5.7% 3rem;
}

.button_lesson{
  margin:auto;
}

#direction{
  font-size: 1.25rem;
  text-align: center;
  width: 70%;
}

.fa-arrow-left{
  margin-right: 0.5rem;
}

.fa-arrow-right{
  margin-left: 1rem;
}

/* Tablas */

.table, th, td{
  color: #fffffe;
  border: 2px solid black;
  border-collapse: collapse;
}

.table th, td{
  
  padding: 1rem;
  text-align: left;
}

.table th{
  background-color: #222020d4;
}

.table .text-table{
  font-size: 1rem;
  color: #fffffe;
  background-color: #3A3535;
  border-radius: 5%;
}

.table{
  width: 50%;
  margin: 0 auto 2rem auto;
}

/* ADAPTACION A MOVILES */

@media (max-width: 1369px) {
  /*.code{
      width: 50%;
  }*/
  .profile-photo{
    width: 80%;
  }
  .Tittle-p{
    text-align: justify;
  }
  .big-code{
    width: 85%;
  }
}



@media (max-width: 1028px) {
  .code{
      width: 50%;
  }
  .profile-photo{
    width: 100%;
    margin-left: 1rem;
  }
  .big-code{
    width: 95%;
  }
}


@media (max-width: 992px) {
  

  .color_1 .container-fluid{
    background-color: #242629;
    padding: 10% 3rem 9% 3rem;
  }


  #diagrama-case{
    width: 100%;
    margin: 2rem;
  }

  .color_2 .container-fluid{
    background-color: #16161a;
    padding: 10% 3rem 9% 3rem;
  }



  /*Estilos para tags de HTML*/

  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.2;
  }


  /* Span es usado para senalar cosas importantes como terminos de JS o comando */

  span{
    font-size: 1.1rem;
  }

  .concept-text{
    font-size: 1.1rem;
    color: #94a1b2
  }
  .Tittle-p{
    text-align: justify;
  }

  .consola{
    width: 100%;
    margin-bottom: 1rem;
  }
  .code{
      margin-top: 1rem;
      width: 100%;
  }
  .code-p{
    font-size: 1.1rem;
    margin: 1rem 0 1rem 0;
  }
  .profile-photo{
    width: 70%;
  }
  .big-code{
    width: 100%;
  }
}